@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --background: #E9ECF8;
}


body {
    background: var(--background);
}

p {
    font-weight: 500;
}

.active label i {
    opacity: 1;
}
.active {
    border-color: blue !important;
    transition: 0.3s linear;
}