@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --body-color: #edf0f8;
  --dark-background: #111121;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--body-color);
  min-height: 100vh;
}

main {
  background: #fff;
  box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  text-align: center;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  font-size: clamp(1.3rem, 1.5vw, 1.6rem);
}

h1 + p {
  font-size: clamp(0.85rem, 1.1vw, 1rem);
}

.swiper {
  width: clamp(250px, 90%, 400px);
  margin-top: 1rem;
}

.innerSlide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.review {
  position: relative;
  background: var(--dark-background);
  text-align: center;
  line-height: 1.4;
  min-height: 100px;
  color: #fff;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: clamp(0.6rem, 1vw, 0.75rem);
}
.review::after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  --border-width: 13px;
  border-left: var(--border-width) solid transparent;
  border-top: var(--border-width) solid var(--dark-background);
  border-right: var(--border-width) solid transparent;
}

.innerSlide img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
}

h2 {
  font-size: clamp(1.1rem, 1.3vw, 1.3rem);
}
h2 + p {
  font-size: clamp(0.8rem, 1vw, 0.95rem);
}

/* Button Styling */
.btn {
  border: none;
  outline: none;
  padding: 8px 14px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background: none;
  position: absolute;
  display: none;
  z-index: 444;
  top: 45%;
}
.prev {
  left: 3%;
}
.next {
  right: 3%;
}




@media (hover: hover) {
  .btn {
    display: block;
    cursor: pointer;
    transition: 0.3s linear;
  }
  .btn:hover {
    border-color: #000;
  }
}
