@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #46515d;
  color: #fff;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
  width: 100%;
  /* display: grid; */
  /* grid-template-columns: repeat(1, 1fr); */
  gap: 2rem;
}

.card {
  --info-color: #227393;
  display: flex;
  align-items: flex-end;
  height: 300px;
  width: clamp(350px, 100%, 450px);
}

.info {
  width: 100%;
  padding: 1rem;
  display: grid;
  background: var(--info-color);
  grid-template-areas:
    "one one three"
    "two two three";
}
#two {
  --info-color: #e55952;
}

.card:nth-child(1) {
  background: url("https://cdn.pixabay.com/photo/2020/12/08/17/15/christmas-5815034_1280.jpg");
  background-color: cover;
  background-position: center;
}

.card:nth-child(2) {
  background: url("https://cdn.pixabay.com/photo/2016/12/16/15/25/new-years-eve-1911635_1280.jpg");
  background-color: cover;
  background-position: center;
}

.card p {
  grid-area: one;
  font-size: 0.9rem;
}

.card h1 {
  grid-area: two;
  font-size: 1.03rem;
  margin-top: 5px;
}

.card button {
  grid-area: three;
  place-self: center end;
  border: none;
  outline: none;
  background: #fff;
  color: #000;
  padding: 5px 6px;
}

.down {
  border-radius: 50%;
}

.right {
  border-radius: 30px;
  padding: 5px 8px !important;
}
.right i {
  margin-left: 5px;
}

@media (hover: hover) {
  button {
    cursor: pointer;
    transition: 0.3s linear;
  }
  button:hover {
    filter: brightness(0.7);
  }
}
