@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap");

:root {
  --background: #b2e5fd;
  --link-blue: #13a4f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Radio Canada", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background);
}
main {
  width: 95%;
  max-width: 800px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px 5px #00000019;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

h1 {
  font-size: clamp(1.1rem, 1.2vw, 1.3rem);
  text-transform: uppercase;
}
a {
  text-decoration: none;
  font-weight: 600;
  font-size: clamp(1rem, 1.1vw, 1.2rem);
  color: var(--link-blue);
  transition: 0.3s linear;
}

a:hover {
  --link-blue: blue;
}

.gallery--wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}
.gallery--container {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  gap: 3px;
  flex: 1;
  padding: 0.5rem;
}
.gallery--container::-webkit-scrollbar {
  appearance: none;
  display: none;
}
.gallery--container img {
  object-fit: cover;
  height: 200px;
  border-radius: 5px;
  width: 100%;
  flex: 1;
}

.btn {
  border: none;
  outline: none;
  background: rgb(212, 211, 211);
  padding: 10px;
  border-radius: 2px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s linear;
}
.btn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
.btn:hover {
  background: #000;
  color: #fff;
}
